# Environment files
.env
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Custom Local Database
backend/local_graph.json

# Node modules (for future frontend framework)
node_modules/
dist/
.DS_Store
